/* src/pages/Instrutores.css */
.instrutores {
    padding: 20px;
  }
  
  .instrutores h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
  }
  
  .instrutores p {
    line-height: 1.6;
    margin-bottom: 15px;
  }
  
  .instrutor {
    margin-bottom: 30px;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
  }
  
  .instrutor h2 {
    font-size: 2em;
    margin-bottom: 10px;
  }
  
  .instrutor img {
    width: 150px;
    height: 150px;
    border-radius: 50%; /* Transforma a imagem em um círculo */
    object-fit: cover; /* Garante que a imagem preencha o espaço sem distorcer */
    margin-bottom: 10px;
  }